<div data-section-id="{{- section.id -}}">
  <div class="grid w-screen grid-cols-3 lg:grid-cols-5 section-padding">
    <div class="transition-all duration-300 bg-center bg-cover ig__post aspect-square bg-unsplash hover:scale-105 hover:shadow-xl"></div>
    <div class="transition-all duration-300 bg-center bg-cover ig__post aspect-square bg-unsplash hover:scale-105 hover:shadow-xl"></div>
    <div class="transition-all duration-300 bg-center bg-cover ig__post aspect-square bg-unsplash hover:scale-105 hover:shadow-xl"></div>
    <div class="transition-all duration-300 bg-center bg-cover ig__post aspect-square bg-unsplash hover:scale-105 hover:shadow-xl"></div>
    <div class="transition-all duration-300 bg-center bg-cover ig__post aspect-square bg-unsplash hover:scale-105 hover:shadow-xl"></div>
  </div>

  <div class="w-screen bg-primary">
    <div class="container py-24">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
        <div class="col-span-1">
          <div class="w-full h-8 bg-white"></div>
          <ul class="mt-8 space-y-4">
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
          </ul>
        </div>
        <div class="col-span-1">
          <div class="w-full h-8 bg-white"></div>
          <ul class="mt-8 space-y-4">
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
          </ul>
        </div>
        <div class="col-span-1">
          <div class="w-full h-8 bg-white"></div>
          <ul class="mt-8 space-y-4">
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
            <li class="w-3/4 h-4 bg-white"></li>
          </ul>
        </div>
        <div class="col-span-1">
          <div class="w-full h-full bg-white"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "settings": []
}
{% endschema %}
