<div data-section-id="{{- section.id -}}" class="section-padding">
  <div class="container flex flex-col gap-8 md:flex-row">
    <div class="w-full p-10 md:w-1/2 lg:w-1/3 text-dark bg-primary">
      <h3 class="">Conceptstore</h3>
      <p class="mt-2 text-lg font-light">Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Exercitationem non <span class="underline">voluptatibus</span> veritatis iusto quo hic minus libero sapiente, enim mollitia architecto saepe ipsam <strong>officiis</strong>, <strong>quisquam</strong> nisi <strong>sed voluptas</strong> sit explicabo.</p>
    </div>
  
    <div class="w-full h-64 overflow-hidden bg-center bg-cover rounded-l-full md:w-1/2 lg:w-2/3 bg-unsplash md:h-auto"></div>
  </div>
</div>

{% schema %}
{
  "name": "Text and image",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "category": "content",
      "name": "Text and image"
    }
  ]
}
{% endschema %}
