<div class="grid w-screen grid-cols-1 bg-light md:grid-cols-5">
  <div class="h-full col-span-1 img-cover md:col-span-3">
    <img src="//source.unsplash.com/800x600/?interior" alt="" width="" height="" loading="lazy">
  </div>
  <div class="col-span-1 bg-slate-200 md:col-span-2"></div>
  <div class="h-screen col-span-1 bg-slate-400 md:col-span-5"></div>
</div>

{% schema %}
{
  "name": "Super grid",
  "tag": "section",
  "class": "super__grid",
  "presets": [
    {
      "category": "grid",
      "name": "Super grid"
    }
  ]
}
{% endschema %}